.idea/
node_modules/
www/js/app.js
www/css/app.css
www/mix-manifest.json
platforms/browser/www/css/
platforms/browser/www/js/
platforms/browser/www/fonts/
platforms/android/app/src/main/assets/www/fonts/
platforms/android/app/src/main/assets/www/img/
platforms/android/app/src/main/libs/
platforms/browser/www/img/
www/fonts/
www/img/
